# Fitbit heart rate

In [29]:
import pandas as pd
fitheart= pd.read_csv("Fitbit-heart-rate.csv")
fitheart.head()

,Subject code number,Local datetime [ISO8601],Local date [yyyy-mm-dd],Local time [hh:mm],UTC offset [hr],heart rate [#/min]
0,903,2019-10-15T00:00:00+0200,2019-10-15,00:00,2,64
1,903,2019-10-15T00:01:00+0200,2019-10-15,00:01,2,67
2,903,2019-10-15T00:02:00+0200,2019-10-15,00:02,2,66
3,903,2019-10-15T00:03:00+0200,2019-10-15,00:03,2,68
4,903,2019-10-15T00:04:00+0200,2019-10-15,00:04,2,66

In [30]:
print(fitheart['Subject code number'].unique())

[903 907 911 912 914 918 919 926 929 936 941 943 944 959 962 964 967 973
 974 976 981 987 990 995]

In [31]:
print(fitheart['heart rate [#/min]'].unique())

[ 64  67  66  68  65  73  88  69  71  72  70  62  76  75  79  74  77  81
  80  78  84  87  60  63  85  86  97 103 117 115 101 102 109 112  92  98
 106  99  96  95  91  94  93 108 100 110 111 104 120 105 114 118 122 121
 127 131 134 135 140 155 149 164 161 167 165 157 130 125 116 107 113  89
  90 137  83  82 124 133 136 128 126 141 153 144 138 150 143 129 123 119
 151 147 154 159 152 160 139 156 132 172 158 170 162 166 142 148 145 146
 171 163 174 168 175 169 177 178 173  61 181 176 180  59 184 183 179  58
  57 185  55  56 186 182  54  53  52  49  51  46  47  44  48  50  45  43
  42  41 190 197 194 191 189 193 188  39  40 187 192 195 201 202]

In [32]:
print(fitheart['Local date [yyyy-mm-dd]'].unique())

['2019-10-15' '2019-10-16' '2019-10-17' '2019-10-18' '2019-10-19'
 '2019-10-20' '2019-10-21' '2019-10-22' '2019-10-23' '2019-10-24'
 '2019-10-25' '2019-10-26' '2019-10-27' '2019-10-28' '2019-10-29'
 '2019-10-30' '2019-10-31' '2019-11-01' '2019-11-02' '2019-11-03'
 '2019-11-04' '2019-11-05' '2019-11-06' '2019-11-07' '2019-11-08'
 '2019-11-09' '2019-11-10' '2019-11-11' '2019-11-12' '2019-11-13'
 '2019-11-14' '2019-11-15' '2019-11-16' '2019-11-17' '2019-11-18'
 '2019-11-19' '2019-11-20' '2019-11-21' '2019-11-22' '2019-11-23'
 '2019-11-24' '2019-11-25' '2019-11-26' '2019-11-27' '2019-11-28'
 '2019-11-29' '2019-11-30' '2019-12-01' '2019-12-02' '2019-12-03'
 '2019-12-04' '2019-12-05' '2019-12-06' '2019-12-07' '2019-12-08'
 '2019-12-09' '2019-12-10' '2019-12-11' '2019-12-12' '2019-12-13'
 '2019-12-14' '2019-12-15' '2019-12-16' '2019-12-17' '2019-12-18'
 '2019-12-19' '2019-12-20' '2019-12-21' '2019-12-22' '2019-12-23'
 '2019-12-24' '2019-12-25' '2019-12-26' '2019-12-27' '2019-12-28'
 '2019-12-29' '2019-12-30' '2019-12-31' '2020-01-01' '2020-01-02'
 '2020-01-03' '2020-01-04' '2020-01-05' '2020-01-06' '2020-01-07'
 '2020-01-08' '2020-01-09' '2020-01-10']

# Fitbit sleep

In [25]:
fitsleep= pd.read_csv("Fitbit-sleep.csv")
fitsleep.head()

,Subject code number,Local datetime start [ISO8601],Local date start [yyyy-mm-dd],Local time start[hh:mm],UTC offset start [hr],level,duration [s]
0,903,2019-10-15T00:17:00+0200,2019-10-15,00:17,2,wake,210
1,903,2019-10-15T00:20:30+0200,2019-10-15,00:20,2,light,540
2,903,2019-10-15T00:29:30+0200,2019-10-15,00:29,2,rem,930
3,903,2019-10-15T00:45:00+0200,2019-10-15,00:45,2,light,1590
4,903,2019-10-15T00:49:30+0200,2019-10-15,00:49,2,wake,30

In [14]:
print(fitsleep['Subject code number'].unique())

[903 907 911 912 914 918 919 926 929 936 941 943 944 959 962 964 967 973
 974 976 981 987 990 995]

In [15]:
print(fitsleep['level'].unique())

['wake' 'light' 'rem' 'deep' 'restless' 'asleep' 'awake']

In [ ]:
#Wake = wakker/wakker worden/net wakker
#Light = tussen wakker en slaap in
#Rem = Droomstand, brein het meest actief
#Deep = Diepste slaap, je brein werkt hier het minst
#Restless = halve slaap, moeilijk in slaap komen, veel gedachtes
#asleep = in slaap/ net in slaap gevallen
#awake =wakker/niet in een slaap

In [18]:
print(fitsleep['duration [s]'].unique())

[  210   540   930  1590    30   390   120   420  3480    60   480   270
  2370   300   960    90  1620   150  2520   450   330   240   360   690
  1800  1140   570   660  4740  1200   510  3090  1020  1470  2130  1170
   600  1260  1110   870  3270  2400   630  4620  3720  2040  1740  2670
  6540  1080  1410  1860   840  1350  1920  2010  3600   180  2610   900
  1440  2310  1560  2250  1290  1500  1650  1680  2550  3150  1530  2460
  2220  4020  3030  2880  1830   990  1980   780   720  1890  2490  1380
  1230   750  1050  3120  3300  2430  3390  2760   810  2100 10950  3210
  2910  1710  1320  2070  3990  4320  5400  1950  2970  3570  2160  2280
  2730  3360  2850  3900  1770  4410  2820  4530  2940  4710  4080  3870
  5760  2790  3000  2190  4140  2640  2580  4260  4800  3180  3630  4110
  3060  5280  4920  6300  4290  4440  5610  3660  4650  5730  3330  3930
  7110  3240  5820  2700  2340  4590  5340  3960  5970  9420  6120  4230
  4500  3510  4770  4050  4830  3840  3750  6390  3690  5520  5070  3540
  3420  3780  5160  6450  3810  5370  4170  5040  4380  5460  8220  4980
  5640  6600  4680  8880  4350  6060  4560  6720  5880  7860  6660  8580
  9360  9780  7020  5940 10680  6240 16440  7380  9660 10620  6360  7920
 16560  5580  4860  9600  6960  7980  7560  5700  7740  8820 11880 16200
  8940 11760 10200 10260  8760  6180  5100  7200 10560 12900 10800  7620
 17340  4200  3450  6750 12420  7500 14280  8700  6480 13140 19080 12180
 25260 14640  6000 23700 18360 16740  9060  6420  7140 21840  5430 13200
 16140  9840  7800  8040  9240  4470  6210  4950  5190  5220  5850  5550
  4890  6780  7830 11640  6840  5790  5910  5130  5490  7290  5250  8130
  6030  6270  5010  5310  7770  6510  6570  6090  6930  6690  5670  7350
  6810  8340 15840 13500  7080 14040  8520 19920  6630 11220  9990  9540
  7260  9480  7170  7470  6330 14430 10140  9180  9120  8400 10890  6150
  7890 10920  9000  9450 13740 11340 12660  8100 10080  7650 20880 24660
 14460 15000  6900  8430 14580 10500]

In [26]:
print(fitsleep['Local date start [yyyy-mm-dd]'].unique())

['2019-10-15' '2019-10-16' '2019-10-17' '2019-10-18' '2019-10-19'
 '2019-10-20' '2019-10-21' '2019-10-22' '2019-10-23' '2019-10-24'
 '2019-10-25' '2019-10-26' '2019-10-27' '2019-10-28' '2019-10-29'
 '2019-10-30' '2019-10-31' '2019-11-01' '2019-11-02' '2019-11-03'
 '2019-11-04' '2019-11-05' '2019-11-06' '2019-11-07' '2019-11-08'
 '2019-11-09' '2019-11-10' '2019-11-11' '2019-11-12' '2019-11-13'
 '2019-11-14' '2019-11-15' '2019-11-16' '2019-11-17' '2019-11-18'
 '2019-11-19' '2019-11-20' '2019-11-21' '2019-11-22' '2019-11-23'
 '2019-11-24' '2019-11-25' '2019-11-26' '2019-11-27' '2019-11-28'
 '2019-11-29' '2019-11-30' '2019-12-01' '2019-12-02' '2019-12-03'
 '2019-12-04' '2019-12-05' '2019-12-06' '2019-12-07' '2019-12-08'
 '2019-12-09' '2019-12-10' '2019-12-11' '2019-12-12' '2019-12-13'
 '2019-12-14' '2019-12-15' '2019-12-16' '2019-12-17' '2019-12-18'
 '2019-12-19' '2019-12-20' '2019-12-21' '2019-12-22' '2019-12-23'
 '2019-12-24' '2019-12-25' '2019-12-26' '2019-12-27' '2019-12-28'
 '2019-12-29' '2019-12-30' '2019-12-31' '2020-01-01' '2020-01-02'
 '2020-01-03' '2020-01-04' '2020-01-05' '2020-01-06' '2020-01-07'
 '2020-01-08' '2020-01-09' '2020-01-10']

# Fitbit steps

In [19]:
fitstep= pd.read_csv("Fitbit-steps.csv")
fitstep.head()

,Subject code number,Local datetime [ISO8601],Local date [yyyy-mm-dd],Local time [hh:mm],UTC offset [hr],steps [#]
0,903,2019-10-15T00:00:00+0200,2019-10-15,00:00,2,0
1,903,2019-10-15T00:01:00+0200,2019-10-15,00:01,2,0
2,903,2019-10-15T00:02:00+0200,2019-10-15,00:02,2,0
3,903,2019-10-15T00:03:00+0200,2019-10-15,00:03,2,0
4,903,2019-10-15T00:04:00+0200,2019-10-15,00:04,2,0

In [21]:
print(fitstep['Subject code number'].unique())

[903 907 911 912 914 918 919 926 929 936 941 943 944 959 962 964 967 973
 974 976 981 987 990 995]

In [22]:
print(fitstep['steps [#]'].unique())

[  0  29   7   5  30  16  14  21  22   8   4  11  10  18   9  17  48   6
  44  70  78  56  20  33  15  41  73  31  43  26  40  24  12  47   2  25
  77  60  13  52  32  36  42  58  71  88  83  39  23  19  35  45  51  59
  53  27  64  34  61  37   3  49  38  82  92  87  72  28  46  74  79  57
  54  62  66  65  68  63  84  55   1  76  67  50 104  93 105  95  99  86
  98  97  75 111 100 106  81 109 101  89  90 110 125 131 128 127 108 130
 115 119  94  80  91  96 117 114 116 112 118 133 132 129 103 107  69 102
 120 113 122  85 123 135 124 121 126 140 138 134 139 164 168 159 137 136
 143 148 146 149 155 163 152 141 142 156 157 154 161 160 162 158 150 145
 144 151 153 147 166 169 167 171 174 180 170 173 165 172]

In [23]:
print(fitstep['Local date [yyyy-mm-dd]'].unique())

['2019-10-15' '2019-10-16' '2019-10-17' '2019-10-18' '2019-10-19'
 '2019-10-20' '2019-10-21' '2019-10-22' '2019-10-23' '2019-10-24'
 '2019-10-25' '2019-10-26' '2019-10-27' '2019-10-28' '2019-10-29'
 '2019-10-30' '2019-10-31' '2019-11-01' '2019-11-02' '2019-11-03'
 '2019-11-04' '2019-11-05' '2019-11-06' '2019-11-07' '2019-11-08'
 '2019-11-09' '2019-11-10' '2019-11-11' '2019-11-12' '2019-11-13'
 '2019-11-14' '2019-11-15' '2019-11-16' '2019-11-17' '2019-11-18'
 '2019-11-19' '2019-11-20' '2019-11-21' '2019-11-22' '2019-11-23'
 '2019-11-24' '2019-11-25' '2019-11-26' '2019-11-27' '2019-11-28'
 '2019-11-29' '2019-11-30' '2019-12-01' '2019-12-02' '2019-12-03'
 '2019-12-04' '2019-12-05' '2019-12-06' '2019-12-07' '2019-12-08'
 '2019-12-09' '2019-12-10' '2019-12-11' '2019-12-12' '2019-12-13'
 '2019-12-14' '2019-12-15' '2019-12-16' '2019-12-17' '2019-12-18'
 '2019-12-19' '2019-12-20' '2019-12-21' '2019-12-22' '2019-12-23'
 '2019-12-24' '2019-12-25' '2019-12-26' '2019-12-27' '2019-12-28'
 '2019-12-29' '2019-12-30' '2019-12-31' '2020-01-01' '2020-01-02'
 '2020-01-03' '2020-01-04' '2020-01-05' '2020-01-06' '2020-01-07'
 '2020-01-08' '2020-01-09' '2020-01-10']