In [1]:
# pandas inporteren, csv file ophalen en checken of dit goed gaat
import pandas as pd
medtronic= pd.read_csv("Medtronic_US.csv", delimiter=",")
medtronic.head()

C:\Users\jackv\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7,11,12,13,16,17,19,20,21,35,37,40,42,44,45,46,47,48,49) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Subject code number,Local datetime [ISO8601],Local date [yyyy-mm-dd],Local time [hh:mm:ss],UTC offset [hr],File,Index,New Device Time,BG Reading [mmol/l],Basal Rate [IU/hr],...,Scroll Step Size,Insulin Action Curve Time,Sensor Calibration Rejected Reason,Preset Bolus,Bolus Source,Network Device Associated Reason,Network Device Disassociated Reason,Network Device Disconnected Reason,Sensor Exception,Preset Temp Basal Name
0,903,10-01-20 21:22,10-01-20,9:22:00 PM,1,1,442,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,BOLUS_WIZARD,NaN,NaN,NaN,NaN,NaN
1,903,10-01-20 21:21,10-01-20,9:21:00 PM,1,1,443,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,BOLUS_WIZARD,NaN,NaN,NaN,NaN,NaN
2,903,10-01-20 21:21,10-01-20,9:21:00 PM,1,1,444,NaN,6.72,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,903,10-01-20 21:21,10-01-20,9:21:00 PM,1,1,445,NaN,NaN,NaN,...,STEP_0_POINT_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,903,10-01-20 21:21,10-01-20,9:21:00 PM,1,1,446,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#Data set filteren op de gegevens die ik nodig heb en alle NaN values droppen
medtronic2= medtronic[['Subject code number','Local date [yyyy-mm-dd]','Local time [hh:mm:ss]','BG Reading [mmol/l]']]
medtronic2.dropna(subset = ["BG Reading [mmol/l]"], inplace=True)
medtronic2

C:\Users\jackv\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,Subject code number,Local date [yyyy-mm-dd],Local time [hh:mm:ss],BG Reading [mmol/l]
2,903,10-01-20,9:21:00 PM,6.72
8,903,10-01-20,7:52:00 PM,9.60
13,903,10-01-20,6:30:00 PM,8.33
18,903,10-01-20,6:14:00 PM,7.49
23,903,10-01-20,12:15:00 PM,7.22
...,...,...,...,...
271634,995,05-12-19,3:14:00 PM,11.49
271639,995,05-12-19,1:36:00 PM,15.87
271645,995,05-12-19,10:54:00 AM,5.61
271650,995,05-12-19,10:00:00 AM,5.72
271660,995,05-12-19,6:41:00 AM,18.82

In [5]:
#Data type van Historic Glucose veranderen naar interger en checken of dit goed gegaan 
medtronic2= medtronic2.astype({"BG Reading [mmol/l]": int})
print(medtronic2.dtypes)

Subject code number         int64
Local date [yyyy-mm-dd]    object
Local time [hh:mm:ss]      object
BG Reading [mmol/l]         int32
dtype: object

In [6]:
#Berekening om glucose % om te zetten naar glucose mmol/l
medtronic2["BG Reading [mmol/l]"] = 10.93 * ["BG Reading [mmol/l]"] - 23.5
medtronic2

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
#Formule om van percentage naar mmol te gaan

#Omrekenformules HbA1c
#% = (0,0915 *mmol/mol) = 2,15
#mmol/mol = (10,93 * %) - 23,5

#omrekenformule bloedsuikerwaarden
#mg/dl = mmol/l * 18