In [11]:
# pandas inporteren, csv file ophalen en checken of dit goed gaat
import pandas as pd
abbott= pd.read_csv("Abbott_US.csv", delimiter=",")
abbott.head()

,Subject code number,Local datetime [ISO8601],Local date [yyyy-mm-dd],Local time [hh:mm],UTC offset [hr],Record Type,Historic Glucose [mmol/l],Scan Glucose [mmol/l],Non-numeric Rapid-Acting Insulin,Rapid-Acting Insulin [IU],...,Carbohydrates [g],Carbohydrates [servings],Non-numeric Long-Acting Insulin,Long-Acting Insulin [units],Notes,Strip Glucose [mmol/l],Ketone [mmol/l],Meal Insulin [IU],Correction Insulin [IU],User Change Insulin [IU]
0,903,15-10-19 0:14,15-10-19,12:14:00 AM,2.0,0,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,903,15-10-19 0:29,15-10-19,12:29:00 AM,2.0,0,7.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,903,15-10-19 0:44,15-10-19,12:44:00 AM,2.0,0,7.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,903,15-10-19 0:59,15-10-19,12:59:00 AM,2.0,0,6.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,903,15-10-19 1:14,15-10-19,1:14:00 AM,2.0,0,6.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Data set filteren op de gegevens die ik nodig heb en alle NaN values droppen
abbott2 = abbott[['Subject code number', 'Local date [yyyy-mm-dd]', 'Local time [hh:mm]', 'Historic Glucose [mmol/l]']]
abbott2.dropna(subset = ["Historic Glucose [mmol/l]"], inplace=True)      
abbott2

,Subject code number,Local date [yyyy-mm-dd],Local time [hh:mm],Historic Glucose [mmol/l]
0,903,15-10-19,12:14:00 AM,8.0
1,903,15-10-19,12:29:00 AM,7.7
2,903,15-10-19,12:44:00 AM,7.2
3,903,15-10-19,12:59:00 AM,6.6
4,903,15-10-19,1:14:00 AM,6.4
...,...,...,...,...
58570,995,10-01-20,10:13:00 PM,11.4
58571,995,10-01-20,10:28:00 PM,11.9
58572,995,10-01-20,10:43:00 PM,12.1
58573,995,10-01-20,10:58:00 PM,12.4
58574,995,10-01-20,11:13:00 PM,13.6

In [28]:
#Data type van Historic Glucose veranderen naar interger en checken of dit goed gegaan in
abbott2 = abbott2.astype({"Historic Glucose [mmol/l]": int})
print(abbott2.dtypes)

Subject code number           int64
Local date [yyyy-mm-dd]      object
Local time [hh:mm]           object
Historic Glucose [mmol/l]     int32
dtype: object

In [26]:
#Berekening om glucose % om te zetten naar glucose mmol/l
abbott2["Historic Glucose [mmol/l]"] = 10.93 * ["Historic Glucose [mmol/l]"] - 23.5
abbott2

TypeError: can't multiply sequence by non-int of type 'float'

In [32]:
#probeersol
value1 = 10.93
value2 = 23.5
value3 = ["Historic Glucose [mmol/l]"]
abbott2 = (float(value3)*value1)
abbott2

TypeError: float() argument must be a string or a number, not 'list'

In [ ]:
#Formule om van percentage naar mmol te gaan

#Omrekenformules HbA1c
#% = (0,0915 *mmol/mol) + 2,15
#mmol/mol = (10,93 * %) - 23,5

#omrekenformule bloedsuikerwaarden
#mg/dl = mmol/l * 18